/SchedulerCommon/bin
/SchedulerCommon/obj
/SchedulerMain/bin
/SchedulerMain/obj
/SchedulerMain/Properties
/SchedulerModel/bin
/SchedulerModel/obj
/SchedulerQuartz/obj
/SchedulerQuartz/bin
/SchedulerSignalR/bin
/SchedulerSignalR/obj
/TasksBll/bin
/TasksBll/obj
/TasksCommon/obj
/TasksCommon/bin
/TasksDAL/bin
/TasksDAL/obj
/TasksEntity/obj
/TasksEntity/bin
